.button {
    border-radius: 12px;
    border: none;
    padding: 12px 32px;
    font-family: 'Poppins', sans-serif;
    cursor: pointer;
    transition: background 0.25s;
    outline: none;
   
  }

  .primary{
    background: #7B6EF6;
  }
  .primary:hover {
    background: rgb(93, 100, 246);
  }