.menu-list{
    list-style: none;
    display: flex;
    gap: 32px;
}
.menu-link{
    text-decoration: none;
    color:  #A8AEBF;
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px; 
    letter-spacing: 0.32px;

    transition: color 0.25s;
}
.menu-link:hover{ 
    color: #fff
}

.active{
    color: #fff
}

.menu-item{
    display: flex;
    gap: 10px;
}

.counter{
    background-color: #7B6EF6;
    border-radius: 50%;
    width: 24px;
    padding: 0 7px;
    text-align: center;
    color: #fff;
    margin-left: 8px;
}